body {
    background-image: url(background_forest.webp);
    font-family: sans-serif;
    color: whitesmoke;
}

.bg-rgba {
    background:rgba(0,0,0,0.5);
}

.start {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1{
    font-family: 'Rock Salt', cursive;
}

#timer {
    font-size: 80px;
    font-family: 'Rock Salt', cursive;
    color: skyblue;
}

#twitter-share-button {
    background-color: #1DA1F2;
    border: none;
    border-radius: 100vh;
    color: white;
    cursor: pointer;
}
